body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js{
  background:#b22222;
  height:650px;
}
#header{
	position: absolute;
	color:white;
	top:200;
	left:500;
	border:groove 2px white;
	background-color: white;
	color:black;
	opacity: 0.8;
}
