body{
  margin:0;
  font: normal 16px Arial, Helvetica, sans-serif;
  color:#333;
}

#particles-js{
  background:#ffffff;
  height:550px;
}

#bubble {
    font-size: 45px;
    font-family: Comic Sans MS;
    font-weight: bold;
    position: absolute;
  	top:200;
  	left:200;
  	background-color:#e5fffd;
    opacity: 0.8;
    color:black;
  	width: 750px;
    
}
#cap{
    font-size: 45px;
    color: #2d509b;
    font-weight: bold;
    text-align: center;
}

